################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore/.vs/BookStore
/BookStore/BookStore/bin/Debug/net7.0
/BookStore/BookStore/obj
/BookStore/BookStore/wwwroot/lib
/BookStore/BookStore/bin/Release/net7.0
/BookStoreApi/.vs
/BookStoreApi/BookStoreApi/bin/Debug/net7.0
/MyBookStoreApi
