@model BookList.Models.ForgotPasswordModel
@{
	ViewBag.Title = "Forgot Password";
}
   <div class="container">
		<div class="row">
			<div class="col-md-6 offset-3">
				@if (Model?.EmailSent == true)
				{
					<div class="alert alert-info" role="alert">
      
						<p>If you registered with us, <br />We have sent an email on your registered email id.</p>
					</div>
				}
				else
				{
					<div class="row">
						<form method="post">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="mb-3">
								<label asp-for="Email" class="form-label"></label>
								<input asp-for="Email" class="form-control" />
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>

							<div class="mb-3">
								<input type="submit" value="Continue" class="btn btn-primary" />
							</div>
						</form>
					</div>
				}

				<hr />
				<div>
					<a asp-controller="Account" asp-action="SignIn">Sign In</a>
				</div>

			</div>
		</div>
   </div>
