@model BookList.Models.ResetPasswordModel
@{
	ViewBag.Title = "Reset Password";
}
<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<h1 class="m-5 display-4 text-center">Reset Password.</h1>
			<hr />
			<div class="row">
				@if (Model?.IsSuccess != true)
				{
					<form asp-action="ResetPassword">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="UserId" />
						<input type="hidden" asp-for="Token" />
						<div class="mb-3">
							<label asp-for="NewPassword" class="form-label"></label>
							<input asp-for="NewPassword" class="form-control" />
							<span asp-validation-for="NewPassword" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label asp-for="ConfirmNewPassword" class="form-label"></label>
							<input asp-for="ConfirmNewPassword" class="form-control" />
							<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<input type="submit" value="Update" class="btn btn-primary" />
						</div>
					</form>
				}
				else
				{
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<strong>Congratulation!</strong> The password was updated successfully. <br />
						<a asp-controller="Account" asp-action="Signin" class="btn btn-outline-primary">Login</a>
					</div>
				}
			</div>

		</div>
	</div>
</div>