
@{
    ViewData["Title"] = "About";
}

<section class="text-center">
   <div class="container">
      <h1>Welcome to BookStore App</h1>
      <p class="text-muted"> This is a about page.></p>
   </div>
</section>

