
@{
    ViewData["Title"] = "Book Store";
}

<section class="text-center">
   <div class="container">
      <h1>Welcome to BookStore App</h1>
      <p class="text-muted"> This is a BookStore Application></p>
   </div>
</section>

