
@{
    ViewData["Title"] = "Home";
}

<section class="">
   <div class="container">
      <h1 class="text-center">Welcome to BookStore App</h1>
      <h6>User Id: <span class="text-danger">@ViewBag.UserId</span></h6>
      <hr />
      @*<vc:top-books count="9"></vc:top-books>*@
      @await Component.InvokeAsync("TopBooks", new { count = 20 })
    </div>
</section>

